ul li {
    padding: 0.5rem;
    background: white;
    border-bottom: 1px solid #f1f1f1;
    font-size: 14px;
}

.m-dymanic .li {
    display: flex;
    justify-content: space-between;
}

.m-dymanic .left {
    display: flex;
    align-items: center;
}

.m-dymanic .left img {
    /* border-radius: 50%;
    width: 3em;
    height: 3em;
    border: 1px solid #ccc; */
}

.m-dymanic .rt {
    flex: 1;
    margin-left: 10px;
    line-height: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tx {
    border-radius: 50%;
    ;
}