<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>Document</title>
    <link rel="stylesheet" href="../css/api.css">
    <link rel="stylesheet" href="../css/news.css">
    <link rel="stylesheet" href="../css/aui_font.css">
    <link rel="stylesheet" href="../css/base_icon.css">
    <link rel="stylesheet" href="../css/swiper.css">
    <link rel="stylesheet" href="../css/frame1.css">
    <script src="../script/swiper.js"></script>
    <style>

    </style>
</head>

<body>
    <div id="view" v-cloak>
        <header class="w-bg">
            <div class="m-swiper" v-if="lbList && lbList.length>0">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide" v-for="(m, index) in lbList">
                            <img :src="returnImg(m.img)" v-if="m.imginfo" @click="_url({url:m.imginfo, title:'详情'}, 'web')">
                            <img :src="returnImg(m.img)" v-else>
                        </div>
                        <!-- <div class="swiper-slide">
                            <img src="../image/test/01.jpg">
                        </div> -->
                    </div>
                    <!-- Add Pagination -->
                    <div class="swiper-pagination"></div>
                    <!-- Initialize Swiper -->
                </div>
            </div>
            <ul class="classfiy_ul">
                <li class="li" v-for="(m, index) in themeList"
                    @click="_url({category_id:m.id, url:'frame1_more', title:m.name})">
                    <div class="img-wrap">
                        <img class="img" :src="returnImg(m.image)" onerror="this.src='../image/error-img.png'" />
                    </div>
                    <aside>{{ m.name }}</aside>
                </li>
            </ul>
        </header>
        <div class="filter new-margin-t-10">
            <!-- 筛选条件 -->
            <ul class="filter-wrap flex-a">
                <li class="f-list flex-c" id="time" tapmode onclick="selectFilter('time')">
                    <span class="time">最新发布</span>
                    <i class="aui-iconfont aui-icon-down"></i>
                </li>
                <li class="f-list flex-c" id="sex" tapmode onclick="selectFilter('sex')">
                    <span class="sex">不限性别</span>
                    <i class="aui-iconfont aui-icon-down"></i>
                </li>
                <!-- <li class="f-list flex-c" id="city" tapmode onclick="_url({url:'frame1/city_list', title: '选择城市', cityLen:1, event: 'dy_city', type:2}, 'frame1/city_win')"> -->
                <li class="f-list flex-c" id="city"
                    onclick="_url({event: 'dy_city', type:1, cityLen: 1,  url: 'frame0/city', title:'选择城市', moreTitle: '确定'})">
                    <span class="city">不限地区</span>
                    <i class="aui-iconfont aui-icon-down"></i>
                </li>
            </ul>
            <!-- <p class="frame1_notice" style="font-size: 12px;">健康约会，请勿广播低俗内容及联系方式，一经发现将作删除处理</p> -->
            <!-- <p class="frame1_notice" style="font-size: 12px;">拒绝低俗·举报反馈邮箱</p> -->
        </div>
        <!-- 官方广播 -->
        <ul class="wrap">
            <li class="list" v-for="(m, index) in sysList" v-if="index == 0">
                <div class="flex-bt" style="align-items:flex-start;">
                    <div class="left flex">
                        <div class="tx img-h">
                            <img src="../image/logo.png" alt="">
                            <!-- <i class="base-icon dy-male-icon"></i> -->
                        </div>
                        <div>
                            <div class="name-wrap flex">
                                <span class="name">{{m.name}}</span>
                                <!-- <span class="sys-tag tag">官方</span> -->
                            </div>
                            <span class="time">{{m.addtime}}</span>
                        </div>
                    </div>
                    <div class="more flex-c new-invisible">
                        <i class="aui-iconfont aui-icon-more"></i>
                    </div>
                </div>
                <div class="dy-content-wrap new-padding-10">
                    <div class="tri"></div>
                    <ul class="ul">
                        <li class="li" v-if="m.content">
                            <i class="base-icon dy-content-icon"></i>
                            <div class="dy-content">{{clearHtml(m.content)}}</div>
                        </li>
                        <li class="li" v-if="m.datetime">
                            <i class="base-icon dy-time-icon"></i>
                            <div class="dy-content">{{m.datetime}}</div>
                        </li>
                        <li class="li" v-if="m.citys">
                            <i class="base-icon dy-area-icon"></i>
                            <div class="dy-content">{{m.citys}}</div>
                        </li>
                    </ul>
                    <div class="img-wrap flex-w" v-if="m.sumbImage && m.sumbImage.length > 0 && m.sumbImage[0]">
                        <div class="img img-h" v-for="(s, sindex) in m.sumbImage" @click="_url({imgArr:m.masterimg, iIndex:sindex}, 'frame1/dy_img_win')">
                            <img :src="returnImg(s)" onerror="this.src='../image/error-img.png'" alt="">
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <!-- 个人广播 -->
        <ul class="wrap">
            <li class="list" v-for="(m, index) in ffList"
                @click="_url({id:m.dy_id, url:'frame1/dy_detail', title:'详情'})">
                <div class="flex-bt" style="align-items:flex-start;">
                    <div class="left flex">
                        <div class="tx flex-c img-h" @click.stop @click="go_userInfo(m.id, m.name, m.sex)">
                            <img :src="returnImg(m.head_100)" onerror="this.src='../image/touxiang.png'" alt="">
                            <i class="base-icon dy-male-icon" v-if="m.sex == '男'"></i>
                            <i class="base-icon dy-female-icon" v-if="m.sex == '女'"></i>
                        </div>
                        <div>
                            <div class="name-wrap flex">
                                <span class="name">{{m.name}}</span>
                                <span v-if="m.nvshen==1" class="girl-tag tag"></span>
                                <span v-if="m.is_identity_authentication >0 " class="real-tag tag"></span>
                                <span v-if="m.is_vip >0" class="vip-tag tag"></span>
                            </div>
                            <span class="time">{{m.addtime}}</span>
                        </div>
                    </div>
                    <!-- <div class="more flex-c" @click.stop @click="more(m.dy_id);"> -->
                    <div class="more flex-c" @click.stop @click="more(index);">
                        <i class="aui-iconfont aui-icon-more"></i>
                    </div>
                </div>
                <div class="dy-content-wrap new-padding-10">
                    <div class="tri"></div>
                    <ul class="ul">
                        <li class="li" v-if="m.content && m.content!=null">
                            <i class="base-icon dy-content-icon"></i>
                            <div class="dy-content">{{m.content}}</div>
                        </li>
                        <li class="li" v-if="themeObj[m.category_id]">
                            <i class="base-icon dy-theme-icon"></i>
                            <div class="dy-content">{{themeObj[m.category_id]}}</div>
                        </li>
                        <li class="li" v-if="m.datetime && m.datetime!=null">
                            <i class="base-icon dy-time-icon"></i>
                            <div class="dy-content">{{m.datetime}} {{m.between}}</div>
                        </li>
                        <li class="li" v-if="m.citys">
                            <i class="base-icon dy-area-icon"></i>
                            <div class="dy-content">{{m.citys}}</div>
                        </li>
                        <li class="li" v-if="m.desire_object">
                            <i class="base-icon dy-person-icon"></i>
                            <div class="dy-content">{{m.desire_object}}</div>
                        </li>
                    </ul>
                    <div class="img-wrap flex-w" v-if="m.sumbImage && m.sumbImage.length > 0 && m.sumbImage[0]">
                        <div class="img img-h" v-for="(s, sindex) in m.sumbImage" @click.stop @click="_url({imgArr:m.masterimg, iIndex:sindex}, 'frame1/dy_img_win')">
                            <img :src="returnImg(s)" onerror="this.src='../image/error-img.png'" alt="">
                        </div>
                    </div>
                </div>
                <div class="footer">
                    <ul class="ul flex-a">
                        <li class="li" @click.stop @click="zan(m.dy_id, index)">
                            <i class="base-icon dy-nozan-icon" :class="{'dy-zan-icon':m.isthumbsup == 1}"></i>
                            <span>{{ m.num }}</span>
                        </li>
                        <!-- <li class="li" v-if="m.id != myuserid" @click.stop @click="addComment(m.dy_id, m.id)">
                            <i class="base-icon dy-comment-icon"></i>
                            <span>评论</span>
                        </li> -->
                        <li class="li">
                            <i class="base-icon dy-comment-icon"></i>
                            <span>评论</span>
                        </li>
                        <li class="li" v-if="myuserid != m.id && m.type == 1" @click.stop
                            @click="joinEnroll(m.dy_id, index)">
                            <i class="base-icon dy-nobaoming-icon" :class="{'dy-baoming-icon':m.self_enroll == 1}"></i>
                            <span v-if="m.self_enroll == 0">我要报名({{m.enroll}})</span>
                            <span v-if="m.self_enroll == 1" style="color: #663DFB;">取消报名({{m.enroll}})</span>
                        </li>
                        <li class="li" v-if="myuserid == m.id && m.type == 1">
                            <i class="base-icon dy-nobaoming-icon"></i>
                            <span>报名人数({{m.enroll}})</span>
                        </li>
                    </ul>
                </div>
                <div class="over" v-if="m.overdue == 1"></div>
            </li>
        </ul>
        <!-- <div class="input-bg new-hide" onclick="hideInput()">
            <div class="input-wrap">
                <input type="text" placeholder="说点什么">
                <button class="send-btn" @click.stop  @click="send()">发送</button>
            </div>
        </div> -->
    </div>
</body>
<script src="../script/api.js"></script>
<script src="../script/jquery.js"></script>
<script src="../script/ffkj.js"></script>
<script src="../script/vue.js"></script>
<script src="../script/wximg.js"></script>
<script src="../script/frame1.js"></script>
<script>
    var filterCity;
    var filterSex = 0; // 0 不限 1男 2女
    var filterNew = 1;
    var filterRecently = 0;
    var view = new Vue({
        el: '#view',
        data: {
            myuserid: '',
            imgurl: imgurl,
            ffList: [],
            ffInfo: {},
            lbList: [], // 轮播列表
            sysList: [], // 系统广播
            themeList: [], // 主题列表
            themeObj: {}, // 主题对象
            inputObj: {
                id: 0,
                uid: 0
            }, // 评论 广播id
            ios: 1, // 1上架 0非上架
        },
        methods: {
            // 举报
            more: function (index) {
                more(index)
            },
            // 约会报名
            joinEnroll: function (id, index) {
                joinEnroll(id, index)
            },
            // 点赞
            zan: function (id, index, type) {
                zan(id, index, type)
            },
            // 评论
            addComment: function (dy_id, uid) {
                addComment(dy_id, uid)
            },
            // 发布评论
            send: function () {
                send()
            },
            _url: function (param, url) {
                _url(param, url);
            },
            // 图片
            returnImg: function (url) {
                return returnImg(url);
            },
            // 图片自适应
            imgCss: function (url, event) {
                console.log(url)
                var e = event.currentTarget;
                imgCss(url, function (w, h) {
                    if (w < h) {
                        $(e).parent().addClass('img-w').removeClass('img-h');
                    }
                })
            },
            // 查看用户资料
            go_userInfo: function (id, name, sex) {
                go_userInfo(id, name, sex)
            },
            // 清除html
            clearHtml: function (s) {
                return clearHtml(s);
            }

        }
    })
    apiready = function () {
        view.ios = $api.getStorage('shang');
        view.myuserid = $api.getStorage('userid');
        console.log('打开frame1')
        returnTheme(function (obj) {
            view.themeObj = obj;
        })
        // 监听登录
        _listener('fresh', function (ret) {
            view.myuserid = $api.getStorage('userid');
        })
        filterCity = $('#city .city').text() || '不限地区';
        // 监听切换城市
        _listener('dy_city', function (ret) {
            if (ret && ret.value.city) {
                var city = ret.value.city;
                $('.city').text(city);
                filterCity = city;
                getData(0)
            }
        })
        api.refreshHeaderLoadDone();
        _shangla(function () {
            getLunbo();
            getTheme();
            getSysDynamic();
            getData(0);
        })
        _scrollToBottom(function () {
            if (heigutgao == 1) {
                pagenum++;
                getData(pagenum)
            }
        })
    }

    // 隐藏输入框
    function hideInput() {
        $('.input-bg').addClass('new-hide');
    }
    // $('.input-bg input').on('blur', function(){
    //     $('.input-bg').addClass('new-hide');
    // })

    // 获取数据
    function getData(page) {
        var _city = filterCity == '不限地区' ? undefined : filterCity;
        var param = {
            userid: $api.getStorage('userid'),
            count: pagesize,
            longitude: $api.getStorage('lon'),
            latitude: $api.getStorage('lat'),
            citys: _city,
            sex: filterSex,
            new: filterNew,
            recently: filterRecently,
        };
        console.log(JSON.stringify(param))
        var loading = page == 0 ? 1 : 0;
        _lists('home/Dymanic/dymaniclst', page, loading, param)
    }

    // 获取轮播图
    function getLunbo() {
        _ajax('home/user/lunbo', function (ret, err) {
            console.log(JSON.stringify(ret))
            console.log(JSON.stringify(err))
            if (ret && ret.code == 200 && ret.result && ret.result.length > 0) {
                view.lbList = ret.result;
                setTimeout(function () {

                    var swiper = new Swiper('.swiper-container', {
                        loop: true,
                        pagination: {
                            el: '.swiper-pagination',
                            clickable: true,
                        },
                        autoplay: {
                            delay: 5000,
                            stopOnLastSlide: false,
                            disableOnInteraction: false,
                        },
                    });
                }, 1000)
            }
        })
    }

    // 获取主题列表
    function getTheme() {
        returnTheme(function (data) {
            view.themeList = data;
        }, 1)
    }

    // 获取系统广播
    function getSysDynamic() {
        _ajax('home/dymanic/sysdymanic', function (ret, err) {
            if (ret && ret.code == 200 && ret.result && ret.result.length > 0) {
                view.sysList = ret.result;
            }
        })
    }

    function selectFilter(type) {
        console.log(type)
        var buttons = type == 'time' ? ['最新发布', '最近约会'] : ['不限性别', '只看女士', '只看男士'];
        var len = parseInt(buttons.length);
        _action('', buttons, function (index) {
            if (index != (len + 1)) {
                $(' .' + type).text(buttons[index - 1]);

                // 时间筛选
                if (type == 'time') {
                    filterNew = index == 1 ? 1 : 0;
                    filterRecently = index == 1 ? 0 : 1;
                }
                // 性别筛选
                if (type == 'sex') {
                    filterSex = index - 1;
                }
                getData(0);
            }
        })
    }
</script>

</html>