<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>Document</title>
    <link rel="stylesheet" href="../../css/api.css">
    <link rel="stylesheet" href="../../css/news.css">
    <link rel="stylesheet" href="../../css/aui_font.css">
    <link rel="stylesheet" href="../../css/base_icon.css">
    <link rel="stylesheet" href="../../css/frame1.css">
</head>

<body>
    <div id="view" v-cloak>
        <!-- 个人广播 -->
        <ul class="wrap">
            <div v-for="(m, index) in ffList" @click="_url({id:m.dy_id, url:'frame1/dy_detail', title:'详情'})">
                <li class="list">
                    <div class="flex-bt" style="align-items:flex-start;">
                        <div class="left flex">
                            <div class="tx flex-c img-h" @click.stop @click="go_userInfo(m.id, m.name, m.sex)">
                                <img :src="returnImg(item.head_100)" 
                                    onerror="this.src='../../image/touxiang.png'" alt="">
                                <i class="base-icon dy-male-icon" v-if="m.sex == '男'"></i>
                                <i class="base-icon dy-female-icon" v-if="m.sex == '女'"></i>
                            </div>
                            <div>
                                <div class="name-wrap flex">
                                    <span class="name">{{m.name}}</span>
                                    <span v-if="m.nvshen==1" class="girl-tag tag"></span>
                                    <span v-if="m.is_identity_authentication >0" class="real-tag tag"></span>
                                    <span v-if="m.is_vip >0 " class="vip-tag tag">VIP</span>
                                    <!-- <i v-if="m.is_vip >0" class="base-icon dy-vip-icon" style="width: 25px;"></i>
                                    <i v-if="m.is_identity_authentication >0 && m.sex != '女'" class="base-icon dy-real-icon" style="width: 32px;"></i>
                                    <i v-if="m.is_identity_authentication >0 && m.sex == '女'" class="base-icon dy-girl-icon" style="width: 32px;"></i> -->
                                </div>
                                <span class="time">{{m.addtime}}</span>
                            </div>
                        </div>
                        <div class="more flex-c" @click.stop @click="more(index);">
                            <i class="aui-iconfont aui-icon-more"></i>
                        </div>
                    </div>
                    <div class="dy-content-wrap new-padding-10">
                        <div class="tri"></div>
                        <ul class="ul">
                            <li class="li" v-if="m.content && m.content!=null">
                                <i class="base-icon dy-content-icon"></i>
                                <div class="dy-content">{{m.content}}</div>
                            </li>
                            <li class="li" v-if="themeObj[m.category_id]">
                                <i class="base-icon dy-theme-icon"></i>
                                <div class="dy-content">{{themeObj[m.category_id]}}</div>
                            </li>
                            <li class="li" v-if="m.datetime">
                                <i class="base-icon dy-time-icon"></i>
                                <div class="dy-content">{{m.datetime}} {{m.between}}</div>
                            </li>
                            <li class="li" v-if="m.citys">
                                <i class="base-icon dy-area-icon"></i>
                                <div class="dy-content">{{m.citys}}</div>
                            </li>
                            <li class="li" v-if="m.desire_object">
                                <i class="base-icon dy-person-icon"></i>
                                <div class="dy-content">{{m.desire_object}}</div>
                            </li>
                            <!-- <li class="li" v-if="m.filter">
                                <i class="base-icon dy-money-icon"></i>
                                <div class="dy-content">{{m.filter}}</div>
                            </li>
                            
                            <li class="li" v-if="m.citys">
                                <i class="base-icon dy-area-icon"></i>
                                <div class="dy-content">{{m.citys}}</div>
                            </li> -->
                        </ul>
                        <div class="img-wrap flex-w" v-if="m.sumbImage && m.sumbImage.length > 0 && m.sumbImage[0]">
                            <div class="img img-h" v-for="(s, sindex) in m.sumbImage" @click.stop
                                @click="_url({imgArr:m.masterimg, iIndex:sindex}, 'frame1/dy_img_win')">
                                <img :src="returnImg(s)" onerror="this.src='../../image/error-img.png'" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="footer" >
                        <ul class="ul flex-a">
                            <li class="li" @click.stop @click="zan(m.dy_id, index)">
                                <i class="base-icon dy-nozan-icon" :class="{'dy-zan-icon':m.isthumbsup == 1}"></i>
                                <span>{{ m.num }}</span>
                            </li>
                            <!-- <li class="li" v-if="m.id != myuserid" @click.stop @click="addComment(m.dy_id, m.id)">
                                <i class="base-icon dy-comment-icon"></i>
                                <span>评论</span>
                            </li> -->
                            <li class="li">
                                <i class="base-icon dy-comment-icon"></i>
                                <span>评论</span>
                            </li>
                            <li class="li" v-if="myuserid != m.id && m.type == 1" @click.stop
                                @click="joinEnroll(m.dy_id, index)">
                                <i class="base-icon dy-nobaoming-icon"
                                    :class="{'dy-baoming-icon':m.self_enroll == 1}"></i>
                                <span v-if="m.self_enroll == 0">我要报名({{m.enroll}})</span>
                                <span v-if="m.self_enroll == 1" style="color: #663DFB;">取消报名({{m.enroll}})</span>
                            </li>
                            <li class="li" v-if="myuserid == m.id && m.type == 1">
                                <i class="base-icon dy-nobaoming-icon"></i>
                                <span>报名人数({{m.enroll}})</span>
                            </li>
                        </ul>
                    </div>
                    <div class="over" v-if="m.overdue == 1"></div>
                </li>
            </div>
        </ul>
    </div>
</body>
<script src="../../script/api.js"></script>
<script src="../../script/jquery.js"></script>
<script src="../../script/ffkj.js"></script>
<script src="../../script/vue.js"></script>
<script src="../../script/wximg.js"></script>
<script>
    var filterCity;
    var filterSex = 0; // 0 不限 1男 2女
    var filterNew = 1;
    var filterRecently = 0;
    var category_id = 0;
    var view = new Vue({
        el: '#view',
        data: {
            myuserid: $api.getStorage('userid'),
            imgurl: imgurl,
            ffList: [],
            ffInfo: {},
            themeObj: {}, // 主题对象
            inputObj: {
                id: 0,
                uid: 0
            }, // 评论 广播id
            ios: 1, // 1上架 0非上架
            my: ''
        },
        methods: {
            // 举报
            more: function (index) {
                more(index)
            },
            // 约会报名
            joinEnroll: function (id, index) {
                joinEnroll(id, index)
            },
            // 点赞
            zan: function (id, index, type) {
                zan(id, index, type)
            },
            // 评论
            addComment: function (dy_id, uid) {
                addComment(dy_id, uid)
            },
            // 发布评论
            send: function () {
                send()
            },
            _url: function (param, url) {
                _url(param, url);
            },
            // 图片
            returnImg: function (url) {
                return returnImg(url);
            },
            // 图片自适应
            imgCss: function (url, event) {
                console.log(url)
                var e = event.currentTarget;
                imgCss(url, function (w, h) {
                    if (w < h) {
                        $(e).parent().addClass('img-w').removeClass('img-h');
                    }
                })
            },
            // 查看用户资料
            go_userInfo: function (id, name, sex) {
                go_userInfo(id, name, sex)
            },
            // 清除html
            clearHtml: function (s) {
                return clearHtml(s);
            }

        }
    })
    apiready = function () {
        view.ios = $api.getStorage('shang');
        view.my = api.pageParam['my'] || 0;
        returnTheme(function (obj) {
            view.themeObj = obj;
        })
        _shangla(function () {
            getData(0);
        })

        _scrollToBottom(function () {
            if (heigutgao == 1) {
                pagenum++;
                getData(pagenum)
            }
        })
    }

    // 隐藏输入框
    $('.input-bg input').on('blur', function () {
        $('.input-bg').addClass('new-hide');
    })

    // 获取数据
    function getData(page) {
        var userid = api.pageParam['uid'];
        console.log(userid)
        var url = userid ? 'home/Dymanic/otherlist' : 'home/Dymanic/selflist';
        userid = userid ? userid : $api.getStorage('userid');
        var param = {
            userid: $api.getStorage('userid'),
            to_user: userid,
        }
        console.log(JSON.stringify(param));
        var loading = page == 0 ? 1 : 0;
        _lists(url, page, loading, param)
    }
</script>

</html>