<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport"
        content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>title</title>
    <link rel="stylesheet" type="text/css" href="../css/api.css" />
    <link rel="stylesheet" type="text/css" href="../css/aui_font.css" />
    <link rel="stylesheet" type="text/css" href="../css/news.css" />
    <link rel="stylesheet" type="text/css" href="../css/base_icon.css" />
    <link rel="stylesheet" type="text/css" href="../css/frame3.css" />
    <style>
        .name-wrap .tag {
            font-size: 10px;
            color: #fff;
            border-radius: 2px;
            height: 16px;
            width: 25px;
            background: #ffd16c;
            margin-right: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-size: 100%;
            background-repeat: no-repeat;
        }

        .name-wrap .tag.girl-tag {
            /* background: linear-gradient(24deg, #663DFB, #ffeb3b, #663DFB); */
            background-image: url('../image/icon/girl.png');
            background-color: transparent;
            width: 32px;
            height: 14px;
        }

        .name-wrap .tag.real-tag {
            /* background: linear-gradient(24deg, #4caf50, #ffeb3b, #4caf50); */
            background-image: url('../image/icon/real.png');
            background-color: transparent;
            width: 32px;
            height: 14px;
        }

        .my-data {
            width: 80vw;
            margin-top: 10px;
        }

        .my-data .base-icon {
            width: 40px;
            height: 40px;
            margin-bottom: 5px;
        }

        .my-data .li {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .my-data span {
            color: #253B3E;
            font-size: 12px;
        }

        .item {
            margin: 10px;
        }

        .item li .lt {
            font-weight: normal;
        }

        .item li {
            border-radius: 10px;
            border-bottom: none;
        }

        .item li .aui-icon-right {
            margin-left: 10px;
            width: 9px;
            height: 16px;
            display: inline-block;
            background-size: 100% 100%;
            background-repeat: no-repeat;
            background-image: url('../image/other/right.png');
        }

        .item li .aui-icon-right::before {
            display: none;
        }

        .item li img {
            width: 20px;
            margin-right: 10px;
        }

        .item li>div {
            display: flex;
            align-items: center;
        }
    </style>
</head>

<body>
    <div id="view" v-cloak>
        <section class="m-frame">
            <div class="tx-wrap flex-c flex-col w-bg new-padding-10">
                <div class="tx img-h" onclick="changeHeader()">
                    <img :src="returnImg(listData.head_portrait)" onerror="this.src='../image/touxiang.png'" alt="">
                </div>
                <div class="tag-wrap new-margin-tb-10 flex-w">
                    <span class="tag" v-if="listData.city">{{listData.city}}</span>
                    <span class="tag">{{listData.age}}岁 · {{listData.constellation}}</span>
                    <span class="tag">{{listData.occupation}}</span>
                </div>
                <!-- <p class="area" v-if="listData.offten_city">常驻城市：{{listData.offten_city}}</p> -->
                <div class="real name-wrap new-margin-t-10" v-if="listData.is_identity_authentication == 2">
                    <div class="flex">
                        <span class="real-tag tag"></span>
                        <span class="font-s">TA通过面容识别认证真实性</span>
                    </div>
                </div>
                <div class="real name-wrap new-margin-t-10" v-if="listData.nvshen==1">
                    <div class="flex new-margin-t-10">
                        <span class="girl-tag tag"></span>
                        <span class="font-s">TA已获得指间公园女神认证</span>
                    </div>
                </div>
                <ul class="flex-a my-data">
                    <li class="li" onclick="_url({url:'frame4/user', title:'个人资料', moreTitle: '保存'})">
                        <i class="base-icon my-data-icon"></i>
                        <span>个人资料</span>
                    </li>
                    <li class="li" onclick="_url({url: 'frame4/wo_de_yu_e_frame', title: '钱包'})">
                        <i class="base-icon my-money-icon"></i>
                        <span>钱包</span>
                    </li>
                    <li class="li" onclick="_url({url:'frame4/collect_frame', title:'我喜欢的'})">
                        <i class="base-icon my-like-icon"></i>
                        <span>我喜欢的</span>
                    </li>
                </ul>
            </div>
            <ul class="item">
                <li class="item_li" v-if="listData.is_identity_authentication != 2"
                    onclick="_url({url:'frame4/authentication_frame', title:'认证身份'})">
                    <div class="lt">认证中心</div>
                    <div class="rt">
                        <span class="f-size12" v-if="listData.is_identity_authentication == 0">马上认证</span>
                        <span class="f-size12" v-if="listData.is_identity_authentication == 1">审核中</span>
                        <span class="f-size12" v-if="listData.is_identity_authentication == 3">认证失败</span>
                        <span class="aui-iconfont aui-icon-right"></span>
                    </div>
                </li>
                <li class="item_li" v-if="listData.sex =='男'" onclick="_url({ url: 'frame4', title: '开通会员'})">
                    <div class="lt">
                        <img src="../image/other/vip.png" alt="">
                        <span>会员</span>
                    </div>
                    <div class="rt">
                        <span class="f-size12" v-if="listData.is_vip > 0">{{listData.vip_end_datetime}}到期</span>
                        <span class="f-size12" v-if="listData.is_vip == 0">升级会员尊享特权</span>
                        <span class="aui-iconfont aui-icon-right"></span>
                    </div>
                </li>
            </ul>
            <ul class="item">
                <li class="item_li" onclick="_url({url:'frame4/Broadcast_frame', title:'我的作品'})">
                    <div class="lt">
                        <img src="../image/other/zuopin.png" alt="">
                        <span>我的作品</span>
                    </div>
                    <div class="rt">
                        <span class="aui-iconfont aui-icon-right"></span>
                    </div>
                </li>
            </ul>
            <div class="pushImg" v-if="!ios">
                <div class="pushImg1" v-if="imgList.length == 0">
                    <img src="../image/add.png" style="padding: 20px;border: 1px dashed #ccc;border-radius: 5px;"
                        onclick="permission()">
                    <p style="font-size: 15px;padding: 10px 0;">上传我的第一张照片</p>
                    <p style="font-size: 12px;color: #ccc;padding-bottom: 20px;" v-if="listData.sex == '女'">
                        照片可以让男士对约会更有安全感 </p>
                    <p style="font-size: 12px;color: #ccc;padding-bottom: 20px;" v-if="listData.sex == '男'">
                        照片可以让女士对约会更有安全感 </p>
                </div>
                <div class="pushImg2" v-if="imgList.length > 0">
                    <div class="li" v-for="(i, sindex) in imgList">
                        <div class="img img-h" v-if="i.types == 1"
                            @click="_url({imgArr:bigImgList, iIndex:i.number}, 'frame1/dy_img_win')">
                            <img :src="returnImg(i.pic[0])" onerror="this.src='../image/error-img.png'">
                        </div>
                        <div class="img img-h" v-if="i.types == 2"
                            @click="_url({video:i.pic[0], cover:i.cover, type:1, packet:0, burn:0, id:i.id,}, 'frame0/video')">
                            <img :src="returnImg(i.cover)">
                        </div>
                        <i v-if="i.types == 2" class="base-icon my-play-icon"
                            @click="_url({video:i.pic[0], cover:i.cover, type:1, packet:0, burn:0, id:i.id,}, 'frame0/video')"></i>
                        <p class="showImg_permission" v-if="i.burn == '1' && i.packet > 0">阅后即焚的<br>红包<span
                                v-if="i.types == 1">照片</span><span v-if="i.types == 2">视频</span></p>
                        <p class="showImg_permission" v-if="i.burn == '1' && i.packet == 0">阅后即焚</p>
                        <p class="showImg_permission" v-if="i.burn == '0' && i.packet > 0">红包<span
                                v-if="i.types == 1">照片</span><span v-if="i.types == 2">视频</span></p>
                        <i class="aui-iconfont aui-icon-close" @click.stop @click="delImg(i.id, i.is_auth)"></i>
                    </div>
                    <div class="li">
                        <div class="add">
                            <img src="../image/add.png" onclick="permission()">
                        </div>
                    </div>
                </div>
            </div>
            <ul class="item" style="margin-top: 0;" v-if="!ios">
                <li class="item_li quanxian" onclick="quanxian();">
                    <div class="lt">相册隐私</div>
                    <div class="rt">
                        <span class="f-size12" v-if="listData.img_auth == '0' || !listData.img_auth">公开（推荐）</span>
                        <span class="f-size12" v-if="listData.img_auth == '1'">查看相册付费</span>
                        <span class="f-size12" v-if="listData.img_auth == '2'">查看前需要通过我的验证</span>
                        <span class="f-size12" v-if="listData.img_auth == '3'">隐身</span>
                        <span class="aui-iconfont aui-icon-right"></span>
                    </div>
                </li>
            </ul>
            <ul class="item">
                <li class="item_li" onclick="_url({url:'frame4/wo_de_hei_ming_dan_frame', title: '黑名单'})">
                    <div class="lt">
                        <img src="../image/other/black.png" alt="">
                        <span>黑名单</span>
                    </div>
                    <span class="aui-iconfont aui-icon-right"></span>
                </li>
                <li class="item_li" onclick="_url({url:'frame4/history', title: '我的足迹'})">
                    <div class="lt">
                        <img src="../image/other/zuji.png" alt="">
                        <span>我的足迹</span>
                    </div>
                    <span class="aui-iconfont aui-icon-right"></span>
                </li>
                <li class="item_li" @click="_url({url:'frame3/sz', title:'设置', phone: listData.phone})">
                    <div class="lt">
                        <img src="../image/other/set.png" alt="">
                        <span>设置</span>
                    </div>
                    <div class="rt ">
                        <span class="aui-iconfont aui-icon-right"></span>
                    </div>
                </li>
            </ul>
            <ul class="item" v-if="!ios">
                <li class="item_li" onclick="clear_hurn()">
                    <div>
                        <span class="lt new-margin-r-10">阅后即焚</span>
                        <span>已有{{ listData.burn || '0' }}个人焚毁了你的照片</span>
                    </div>
                    <span style="color:rgba(40, 38, 43,0.5);">一键恢复</span>
                </li>
            </ul>
            <ul class="item">
                <li class="item_li" style="margin-top: 18px;" onclick="_url({url:'frame4/yaoqing', title:'我的邀请'})">
                    <div>
                        <img src="../image/other/yao.png" alt="">
                        <span>我的邀请</span>
                    </div>
                    <span class="aui-iconfont aui-icon-right"></span>
                    <!-- <div>{{listData.send_code}}</div>
                    <span style="color:rgba(40, 38, 43,0.5);" @click="copyTxt(listData.send_code)">一键复制</span> -->
                </li>
                <li class="item_li" onclick="showDetail('frame0/share')" id="yao">
                    <div>
                        <img src="../image/other/share.png" alt="">
                        <span>分享指间公园给朋友</span>
                    </div>
                    <span class="aui-iconfont aui-icon-right"></span>
                </li>
            </ul>
            <ul class="item">
                <li class="item_li" onclick="openService()">
                    <div>
                        <img src="../image/other/ques.png" alt="">
                        <span>有问题需要帮助</span>
                    </div>
                    <span style="color:rgba(40, 38, 43,0.5);">联系客服</span>
                </li>
                <li class="item_li" onclick="_url({url:'frame3/tousu', title:'投诉客服'})">
                    <div>
                        <img src="../image/other/service.png" alt="">
                        <span>投诉客服</span>
                    </div>
                    <div class="rt">
                        <span class="aui-iconfont aui-icon-right"></span>
                    </div>
                </li>
                <li class="item_li" style="margin: 10px 0;" onclick="updateVision(1)">
                    <div>
                        <img src="../image/other/version.png" alt="">
                        <span>当前版本</span>
                    </div>
                    <div class="rt js-appVersion"></div>
                </li>
            </ul>
        </section>
        <section class="js-prp">
            <div class="js-permission">
                <h5 class="h5" v-if="upType == 0">该图片阅览权限</h5>
                <h5 class="h5" v-if="upType == 1">该视频阅览权限</h5>
                <p class="p" onclick="selectType(0,0)">公开（推荐）</p>
                <p class="p" onclick="selectType(1,0)">阅后即焚（查看2秒后焚毁）</p>
                <p v-if="listData.sex =='女' && upType == 0" class="p" onclick="hongbao(0,'设置查看该照片所需的红包')">红包照片</p>
                <p v-if="listData.sex =='女' && upType == 1" class="p" onclick="hongbao(0,'设置查看该视频所需的红包')">红包视频</p>
                <p v-if="listData.sex =='女' && upType == 0" class="p" onclick="hongbao(1,'设置查看该阅后即焚照片所需的红包')">阅后即焚的红包照片
                </p>
                <p v-if="listData.sex =='女' && upType == 1" class="p" onclick="hongbao(1,'设置查看该阅后即焚视频所需的红包')">阅后即焚的红包视频
                </p>
            </div>
        </section>
    </div>
</body>
<script type="text/javascript" src="../script/api.js"></script>
<script type="text/javascript" src="../script/jquery.js"></script>
<script type="text/javascript" src="../script/vue.js"></script>
<script type="text/javascript" src="../script/ffkj.js"></script>
<script type="text/javascript" src="../script/wximg.js"></script>
<script type="text/javascript" src="../json/imglist.js"></script>
<script type="text/javascript" src="../script/video_deal.js"></script>
<script type="text/javascript" src="../script/update.js"></script>
<script type="text/javascript">
    var userid;
    var closeid;
    var imgurls = [];
    var showList = new Vue({
        el: '#view',
        data: {
            listData: {},
            imgUrl: imgurl,
            imgList: [],
            bigImgList: [],
            upType: 0, // 0图片 1视频
            ios: 1, // 1上架 0非上架
        },
        methods: {
            copyTxt: function (text) {
                copyTxt(text);
            },
            _url: function (param, url) {
                _url(param, url);
            },
            // 图片
            returnImg: function (url) {
                return returnImg(url);
            },
            // 图片自适应
            imgCss: function (url, event) {
                var e = event.currentTarget;
                imgCss(url, function (w, h) {
                    if (w < h) {
                        $(e).parent().addClass('img-w').removeClass('img-h');
                    }
                })
            },
            // 删除图片
            delImg: function (id, auth) {
                var msg = auth == 0 ? '是否确定删除该图？' : '删除后，将无法再次获得本人认证照片，是否继续？';
                _confirm({
                    msg: msg
                }, function (bIndex) {
                    if (bIndex == 1) {
                        _loading();
                        _ajax('api/Userimg/delImg', function (ret, err) {
                            console.log(JSON.stringify(ret))
                            console.log(JSON.stringify(err))
                            _loadingClose();
                            var msg = ret.code == 200 ? '删除成功' : ret.msg;
                            _msg(msg);
                            if (ret && ret.code == 200) {
                                getUserInfo();
                            }
                        }, {
                            img_id: id,
                        })
                    }
                })

            }

        }
    });

    apiready = function () {
        showList.ios = $api.getStorage('shang');
        userid = $api.getStorage('userid');
        //监听登录
        // _listener('fresh', function () {
        //     userid = $api.getStorage('userid');
        //     getUserInfo();
        // })
        if (api.systemType == 'ios') {
            userid = $api.getStorage('userid');
            getUserInfo();
            _heibai(1);
        }

        _listener('viewappear', function () {
            userid = $api.getStorage('userid');
            getUserInfo();
            _heibai(1);
        })

        _shangla(function () {
            userid = $api.getStorage('userid');
            getUserInfo();
            _heibai(1);
        }, 1)

        //APP版本
        $('.js-appVersion').text(api.appVersion);
    };


    // 获取用户信息
    function getUserInfo() {
        _getUser(function (ret) {
            showList.listData = ret.result;
            _send('my_name', {
                name: ret.result.name
            }); // 更新名字
            getXiangce();
            showList.$forceUpdate();
        })
    }

    // 获取用户相册 
    function getXiangce() {
        _ajax('api/Userimg/lists', function (ret, err) {
            console.log(JSON.stringify(ret));
            console.log(JSON.stringify(err));
            if (ret && ret.code == 200) {
                var data = ret.result;
                if (data.length > 0) {
                    showList.imgList = data;
                    showList.bigImgList = [];
                    var num = 0;
                    for (var i = 0; i < data.length; i++) {
                        if (data[i].types == 1) {
                            showList.bigImgList.push(data[i].pic[0]);
                            showList.imgList[i].number = num;
                            num++;
                        }
                    }
                } else if (data.length == 0) {
                    showList.imgList = [];
                    showList.bigImgList = [];
                }
            }
        }, {
            user_id: $api.getStorage('userid'),
            to_user: $api.getStorage('userid'),
        })
    }


    //查看权限
    function quanxian() {
        // $('.js-prp').show();
        // $('.js-prp .js-Authority').show();
        // $('.js-prp .js-permission').hide();
        var buttons = ['公开(推荐)', '查看付费相册', '查看前需通过我的验证', '隐身'];
        _action('', buttons, function (bIndex) {
            if (bIndex != (buttons.length + 1)) {
                lookJurisdiction(bIndex - 1);
            }
        })
    }
    // 设置上传照片权限
    function permission() {
        var buttons = ['图片', '视频'];
        _action('选择上传类型', buttons, function (bIndex) {
            if (bIndex != buttons.length + 1) {
                showList.upType = bIndex - 1;
                $('.js-prp').show();
                $('.js-prp .js-permission').show();
            }
        })
    }
    $('.js-prp').on('click', function (e) {
        $('.js-prp').hide();
    });
    $('.js-prp div').on('click', function (e) {
        e.stopPropagation();
    });
    /*更改相册查看权限*/
    function lookJurisdiction(auth) {
        if (auth == 1) {
            if (showList.listData.sex == '女' && showList.listData.is_identity_authentication != 2) {
                var obj = {
                    title: '查看相册付费',
                    msg: '您还未认证，需要你认证后才可以去设置该权限。该权限可以设置非会员进入你的相册的金额',
                    btn: ['我要认证']
                }

                _confirm(obj, function (bIndex) {
                    if (bIndex == 1) {
                        _url({
                            url: 'frame4/authentication_frame',
                            title: '认证身份'
                        })
                    }
                })

            } else if (showList.listData.sex == '男' && showList.listData.is_vip == 0) {
                var obj = {
                    title: '查看相册付费',
                    msg: '您还不是会员，成为会员后才可以去设置该权限。该权限可以设置非会员进入你的相册的金额',
                    btn: ['成为会员']
                }

                _confirm(obj, function (bIndex) {
                    if (bIndex == 1) {
                        _url({
                            url: 'frame4',
                            title: '开通会员'
                        })
                    }
                })

            } else {
                api.prompt({
                    title: '请输入金额',
                    type: 'number',
                    buttons: ['取消', '确定'],
                    msg: '请设置非会员进入你的相册的金额',
                }, function (ret, err) {
                    var index = ret.buttonIndex;
                    var text = ret.text;
                    if (!(text > 0)) {
                        _msg('金额不能小于0');
                        return;
                    }
                    if (index == 2) {
                        _ajax('home/User/imgauth', function (ret, err) {
                            _msg(ret.msg);
                            showList.listData.img_auth = auth;
                        }, {
                            user_id: userid,
                            auth: auth,
                            price: text,
                        })
                    }
                });
            }
        } else {
            _ajax('home/User/imgauth', function (ret, err) {
                _msg(ret.msg);
                showList.listData.img_auth = auth;
            }, {
                user_id: userid,
                auth: auth,
            })
        }
    }
    //申请验证码
    function shenqing() {
        var obj = {
            title: '免费申请邀请码',
            msg: '我们会根据你的历史消费来评估是否发放邀请码。为维持指间公园的氛围，请一定把邀请码赠与靠谱的朋友！',
            btn: ['确定申请'],
        };
        _confirm(obj, function (bIndex) {
            if (bIndex == 1) {
                _ajax('Home/User/code', function (ret, err) {
                    console.log(JSON.stringify(ret))
                    console.log(JSON.stringify(err))
                    _msg(ret.msg)
                    // if (ret.code == '200') {
                    //     _alert(ret.invite, function(){

                    //     }, '申请成功')
                    // } else {
                    //     _alert('我们将尽快处理您的申请。如果通过审核，您会在消息中心收到我们发放的邀请码', function(){

                    //     }, '成功提交申请')
                    // }
                }, {
                    type: '0',
                    user_id: $api.getStorage('userid'),
                })
            }
        })
    }

    // 选择资源
    function selectType(burn, packet) {
        var media = showList.upType == 0 ? 'pic' : 'video';
        openPic(function (ret) {
            _loading();
            console.log(ret.data)
            if (media == 'video') {
                // 获取视频封面
                getVideoCover(ret.data, function (image) {
                    pushVideo(ret.data, function (v) {
                        _upImg({
                            image: image
                        }, function (u) {
                            pushImg(burn, packet, v, u);
                        })
                    })
                })
                return;
            }
            _upImg({
                image: ret.data
            }, function (u) {
                pushImg(burn, packet, u);
            })
        }, media);
    }



    // 上传图片
    function pushImg(burn, packet, url, cover) {
        var obj = {
            user_id: $api.getStorage('userid'),
            burn: burn,
            packet: packet,
            types: showList.upType + 1, // 1 图片 2视频
            cover: cover, // 视频封面
            photo_album: url
        }
        console.log(JSON.stringify(obj))
        _ajax('api/upload/upload', function (rets, errs) {
            console.log(JSON.stringify(rets))
            console.log(JSON.stringify(errs))
            _loadingClose();
            var msg = rets.msg;
            _msg(msg);
            if (rets && rets.code == 200) {
                getUserInfo();
            }
            $('.js-prp').hide();
        }, {
            user_id: $api.getStorage('userid'),
            burn: burn,
            packet: packet,
            types: showList.upType + 1, // 1 图片 2视频
            cover: cover, // 视频封面
            photo_album: url
        })
    }

    /*图片红包金额设置*/
    function hongbao(type, msg) {
        $('.js-prp').hide();
        api.prompt({
            title: '请输入金额',
            type: 'number',
            buttons: ['取消', '确定'],
            msg: msg,
        }, function (ret, err) {
            var index = ret.buttonIndex;
            var text = ret.text;
            if (index == 2) {
                selectType(type, text);
            }
        });
    }
    //一键恢复
    function clear_hurn() {
        _ajax('Home/User/resetburn', function (ret, err) {
            var msg = ret.code == 200 ? '恢复成功' : ret.msg;
            _msg(msg);
        }, {
            user_id: $api.getStorage('userid'),
        })
    }

    // 修改头像
    function changeHeader() {
        openPic(function (ret) {
            _loading();
            console.log(ret.data);
            _upImg({
                image: ret.data
            }, function (u) {
                _ajax('api/user/editHead', function (rets, errs) {
                    _loadingClose();
                    if (rets && rets.code == 200) {
                        _msg('修改成功');
                        getUserInfo();
                    } else {
                        _msg(rets.result.error)
                    }
                }, {
                    user_id: $api.getStorage('userid'),
                    head: u
                })
            })
        })
    }

    // 联系客服
    function openService() {
        _ajax('api/Member/kefu', function (ret, err) {
            if (ret && ret.data && ret.data.id) {
                _url({
                    txt: '客服',
                    touserid: ret.data.id,
                    url: 'frame0/liaotian',
                    title: '与客服的聊天',
                })
            } else {
                _msg('暂无法联系客服');
            }
        })
    }
</script>

</html>