<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>Document</title>
    <link rel="stylesheet" href="../../css/api.css">
    <link rel="stylesheet" href="../../css/news.css">
    <style>
        html,
        body {
            background: #eee;
        }

        * {
            touch-action: pan-y;
        }

        .w-bg {
            background: #fff;
        }

        .wrap .tab {
            padding: 15px 10px 5px 10px;
            font-size: 14px;
        }

        .wrap .li {
            display: flex;
            font-size: 14px;
            margin: 0 10px;
            padding: 10px 0;
            border-bottom: 1px solid #eee;
            align-items: center;
        }

        .wrap .li .title {
            font-weight: bold;
            width: 20vw;
        }

        .wrap .li .content {
            width: calc(80vw - 20px);
        }

        .wrap .li .content input {
            width: 100%;
        }

        .tx {
            margin: 10px 0;
            border-radius: 50%;
        }

        /* 协议 */
        .xieyi {
            /* color: #eee; */
            /* color: #253B3E; */
            color: #999999;
            font-size: 12px;
            /* margin: 20px 0; */
        }

        .xieyi a {
            color: #2196f3;
        }

        .wrap .li.flex-col .content {
            width: calc(100vw - 20px);
            margin-top: 10px;
        }

        .wrap .li.flex-col .content textarea {
            width: 100%;
            line-height: 25px;
            resize: none;
        }
    </style>
</head>

<body>
    <div class="wrap" id="view" v-cloak style="padding-bottom: 30px;">
        <div class="tx-wrap flex-c flex-col new-margin-tb-10">
            <div class="tx img-h" onclick="changeHeader()">
                <img v-if="!head" src="../../image/touxiang.png" alt="">
                <img v-if="head" :src="returnImg(head)" alt="">
            </div>
            <p class="font-ss">上传头像</p>
        </div>
        <ul class="ul w-bg">
            <li class="li">
                <div class="title">昵称</div>
                <div class="content">
                    <input type="text" placeholder="请填写" v-model="listData.name">
                </div>
            </li>
            <li class="li" onclick="selectUserCity('city')">
                <div class="title">常驻城市</div>
                <div class="content">
                    <input type="text" placeholder="请选择" v-model="listData.city" readonly>
                </div>
            </li>
            <li class="li" onclick="myScroll('age', 1, '年龄', [18, 101])">
                <div class="title">年龄</div>
                <div class="content">
                    <input type="text" placeholder="请选择" readonly v-model="listData.age">
                </div>
            </li>
            <li class="li" onclick="myScroll('constellation',0, '星座')">
                <div class="title">星座</div>
                <div class="content">
                    <input type="text" placeholder="请选择" readonly v-model="listData.constellation">
                </div>
            </li>
            <li class="li" onclick="myScroll('occupation', 0, '职业')">
                <div class="title">职业</div>
                <div class="content">
                    <input type="text" placeholder="请选择" readonly v-model="listData.occupation">
                </div>
            </li>
            <li class="li" v-if="!ios" onclick="showDetail('frame0/more_filter', {title:'交友节目',fn:'selectDyProgram', ziduan: 'dy_program', frameName:'frame0/she_zhi_ji_ben_zi_liao_frame'})">
                <div class="title">交友节目</div>
                <div class="content">
                    <input type="text" placeholder="请选择" readonly v-model="listData.dy_program">
                </div>
            </li>
            <li class="li" v-if="!ios" onclick="showDetail('frame0/more_filter', {title:'期望对象',fn:'selectDyConditions', ziduan: 'dy_conditions', frameName:'frame0/she_zhi_ji_ben_zi_liao_frame'})">
                <div class="title">期望对象</div>
                <div class="content">
                    <input type="text" placeholder="请选择" readonly v-model="listData.dy_conditions">
                </div>
            </li>
        </ul>
        <!-- <p class="tab">社交账号(选填)</p>
        <ul class="ul w-bg">
            <li class="li">
                <div class="title">微信</div>
                <div class="content">
                    <input type="text" placeholder="请填写" v-model="listData.wxcount">
                </div>
            </li>
            <li class="li">
                <div class="title">QQ</div>
                <div class="content">
                    <input type="text" placeholder="请填写" v-model="listData.qq">
                </div>
            </li>
        </ul> -->
        <p class="tab">更多信息(选填)</p>
        <ul class="ul w-bg">
            <li class="li" onclick="myScroll('stature', 1, '身高', [140, 220])">
                <div class="title">身高</div>
                <div class="content">
                    <input type="text" placeholder="请选择" readonly v-model="listData.stature">
                </div>
            </li>
            <li class="li" onclick="myScroll('weight', 1, '体重', [40, 100])">
                <div class="title">体重</div>
                <div class="content">
                    <input type="text" placeholder="请选择" readonly v-model="listData.weight">
                </div>
            </li>
            <li class="li flex-col" style="align-items: flex-start;">
                <div class="title">个人介绍</div>
                <div class="content">
                    <textarea name="" id="" placeholder="介绍一下我自己" v-model="listData.self_slogan"></textarea>
                </div>
            </li>
        </ul>
        <button class="new-btn" onclick="submit()">提交</button>
        <div class="xieyi flex-c">
            <p> 点击进入表示你已阅读并同意<a href="javascript:;" onclick="openPage(2)">《用户使用协议》</a> </p>
        </div>
    </div>
</body>
<script src="../../script/api.js"></script>
<script src="../../script/jquery.js"></script>
<script src="../../script/ffkj.js"></script>
<script src="../../script/vue.js"></script>
<script src="../../script/selectJson.js"></script>
<script src="../../script/wximg.js"></script>
<script src="../../script/push.js"></script>
<script src="../../script/user.js"></script>
<script>
    var view = new Vue({
        el: '#view',
        data: {
            imgurl: imgurl,
            ffList: [],
            ffInfo: {},
            ios: 1, // 1上架 0非上架
            head: '',
            listData: {
                phone: '',
                password: '',
                send_code: '',
                name: '',
                city: '',
                offten_city: '',
                age: '',
                constellation: '', // 星座
                occupation: '', // 职业
                dy_program: '',
                dy_conditions: '',
                wxcount: '',
                qq: '',
                stature: '',
                weight: '',
                self_slogan: '',
                sex: $api.getStorage('sex'),
                head: '',
                qq_openID: $api.getStorage('qq_openID'),
                wechat: $api.getStorage('wechat'),
            },
        },
        methods: {
            _url: function (param, url) {
                _url(param, url);
            },
            // 图片
            returnImg: function (url) {
                return returnImg(url);
            },
            // 图片自适应
            imgCss: function (url, event) {
                var e = event.currentTarget;
                imgCss(url, function (w, h) {
                    if (w < h) {
                        $(e).parent().addClass('img-w').removeClass('img-h');
                    }
                })
            },
        }
    })
    apiready = function () {
        view.ios = $api.getStorage('shang');
        // view.listData.user_id = $api.getStorage('userid');
        view.listData.phone = api.pageParam['phone'];
        view.listData.password = api.pageParam['password'];
        view.listData.send_code = api.pageParam['send_code'];
        // 当前城市
        _listener('selectCity', function (ret) {
            if (ret && ret.value.city) {
                view.listData.offten_city = ret.value.city[0];
                view.listData.city = ret.value.city[0];
            }
        })

        getProgram()
    }


    // 提交个人资料
    function submit() {
        console.log(JSON.stringify(view.listData));
        var time = $('#activeTime').val();
        if (!view.head) {
            _msg('请上传头像');
            return;
        }
        if (!view.listData.name) {
            _msg('昵称还没未填写');
            return;
        }
        if (!view.listData.city) {
            _msg('请选择常驻城市');
            return;
        }

        if (!view.listData.age) {
            _msg('请选择年龄');
            return;
        }
        if (!view.listData.constellation) {
            _msg('请选择星座');
            return;
        }
        if (!view.listData.occupation) {
            _msg('请选择职业');
            return;
        }
        if (!view.ios) {
            if (!view.listData.dy_program) {
                _msg('请选择交友节目');
                return;
            }
            if (!view.listData.dy_conditions) {
                _msg('请选择约会条件');
                return;
            }
        }
        _loading();
        _upImg({
            image: view.head,
            water: 0
        }, function (u) {
            view.listData.head = u;
            _ajax('api/reg/index', function (ret, err) {
                console.log(JSON.stringify(ret))
                console.log(JSON.stringify(err))
                _loadingClose();
                if (ret.code == '200') {
                    $api.rmStorage('wechat');
                    $api.rmStorage('qq_openID');
                    _msg('提交成功')
                    var push = new Push();
                    push.setAlias(ret.id);
                    resetNotice(ret.id)
                    _send('fresh');
                    $api.setStorage('userid', ret.id);
                    _home()
                    // _send('firstLogin');
                } else {
                    _msg(ret.msg);
                }
            }, view.listData)
        })
    }
</script>

</html>